/* write your override styles here */

/* Compounded
#wall .tag-1, 
div#wall #tag-2, 
div#wall div#tag-3.wicked, 
.parent > *, 
#wall .parent #tag-4,
div#wall .parent div#tag-5.slick{
    display: none;
}
*/
#wall .tag-1{
    display: none;
}

div#wall #tag-2{
    display: none;
}

div#wall div#tag-3.wicked{
    display: none;
}

#wall .parent #tag-4{
    display: none;
}

div#wall .parent div#tag-5.slick{
    display: none;
}

.parent > *{ /* FOR TAG-6, TAG-7*/
    display: none;
}